@media (min-width: 992px) {
  .section-4-img {
    & img {
      height: 48rem !important;
      object-fit: cover;
    }
  }
}
@media (max-width: 991px) {
  .nav-top {
    display: none;
  }
  .section-6 {
    .container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    & button {
      top: 1rem;
      left: 0;
    }
  }
}
@media (max-width: 1199px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 5rem;
   right:5rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 991px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 18rem;
   right:18rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 767px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 12rem;
   right:12rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 502px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 11rem;
   right:11rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
