@media (min-width: 992px) {
  .section-4-img {
    & img {
      height: 48rem !important;
      object-fit: cover;
    }
  }
}
@media (max-width: 991px) {
  .nav-top {
    display: none;
  }
  .section-6 {
    .container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    & button {
      top: 1rem;
      left: 0;
    }
  }
}
@media (max-width: 1199px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 5rem;
   right:5rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 991px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 18rem;
   right:18rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 767px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 12rem;
   right:12rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 502px) {
.section-8-icon::before {
   content: "";
   position: absolute;
   top: 3rem;
   bottom: -0.4rem;
   left: 11rem;
   right:11rem;
   border-radius: 50%;
   background-color: rgba(225, 225, 225, 0.2);
  animation: ring 0.7s infinite;  
  }
}
@media (max-width: 991px) {
.carousel-inner {
    height: 39rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 767px) {
.carousel-inner {
    height: 25rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 511px) {
.carousel-inner {
    height: 26.4rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 429px) {
.carousel-inner {
    height: 28rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 363px) {
.carousel-inner {
    height: 29.3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 334px) {
.carousel-inner {
    height: 31rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 315px) {
.carousel-inner {
    height: 32.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 308px) {
.carousel-inner {
    height: 34rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 276px) {
.carousel-inner {
    height: 35.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 266px) {
.carousel-inner {
    height: 37.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 258px) {
.carousel-inner {
    height: 38.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
@media (max-width: 248px) {
.carousel-inner {
    height: 40.2rem;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-top: 1rem;
  }
}
