@media (min-width: 992px) {
  .section-4-img {
    & img {
      height: 48rem !important;
      object-fit: cover;
    }
  }
}
@media (max-width: 991px) {
  .nav-top {
    display: none;
  }
  .section-6 {
    .container {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    & button {
      top: 1rem;
      left: 0;
    }
  }
}
